     <h1> Sample APP </h1>
     <p>
       Esta es la pagina principal para la aplicacion
       <a href="http://localhost:3000/pages">Principal de Aplicacion</a>
     </p>
     <%= link_to "Registrese Ya!!!", signup_path, :class => "signup_button round" %>
