  
   <footer>
         <nav class="round">
          <ul>
            <li><%= link_to "Nosotros", about_path %></li>
            <li><%= link_to "Contactos", contact_path %></li>
            <li><a href="#">Noticias</li>
            <li><a href="#">Foro</li>
          </ul>
         </nav>
        </footer>